html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}

body{
  font-size: 18px;
}
ul{
  list-style: none  !important;
  padding: 0px;
}
a{
  text-decoration: none !important;
}
.container{
  max-width: 1380px !important;
}


/* header */
.header{

}
.header-fixed{
  position: fixed;
  top: 0px;
  width: 100%;
  transition: .5s;
  background-color: #492e77;
  z-index: 99;
  box-shadow: 0 10px 5px 0 rgba(0,0,0,0.1);
}
.navbar-brand{
  font-family: cursive;
  font-style: italic;
  color: green !important;
  font-size: 2.1rem !important;
}
.nav-link{
  position: relative;
  padding: 1rem 1.1rem !important;
}
.navigator{
  position: relative;
}

.navigator nav::after{
  content:"" ;
  height: 20px;
  margin-top: 18px;
  border-right: 1px solid;
}

.navigator .nav-link{
  position: relative;
  padding: 1rem 1.5rem !important;
  overflow: hidden;
}
.navigator .nav-link{
  position: relative;
}
.header-fixed .navbar-nav .nav-link{
  color: #ccc !important;
}

.navigator .nav-active{
position: relative;
}
.navigator .nav-active::before{
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;

  border-bottom: 1px solid;
  transition: 1s;
}
.navigator .nav-link::after{
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  transform: translateX(-100%);
  border-bottom: 1px solid;
  transition: 1s;
}
.navigator .nav-link:hover::after{
  transform: translateX(0);
}




.header .cart-button{
  position: relative;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  color: #fff;
  background:#FF4F8E;
 border-color: transparent;
}
.header .cart-button .cart-icon{
  position: absolute;
  top: 6px;
  left: 6px;
}


/* banner */
.banner{
  padding:120px 0px;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: -1;
}
.slider1{
  
}
.curve{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #f7ebeb;
  border-radius: 0px 493px 0 0px;

}
/* topbrand */
.topBrand{
  padding: 80px 0px 40px;
  background-color: #e8e8e8;
}
.shop{
  padding: 80px 0px ;
  background-color: #071942;
}
.shop .section-title h2 span{
  color:#fff !important;
 
}
.topBrand img{
  max-width: 100%;
  max-height:100%;
  object-fit: cover;
}
.section-title{
  margin-bottom: 5px;
  padding-bottom: 30px;
}
.section-title h2 span{
  position: relative;
  font-weight: 600;
}
.section-title h2 span::after{
  content: '';
  display: block;
  width: 93px;
  margin: 22px auto;
  border-bottom: 1px solid green;
}
.topBrand .image-container{
  position: relative;
  overflow: hidden;
}
.topBrand .image-container .image-mask{
  position: absolute;
  transition: 0.5s;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #0a0a0a96;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: 0.5s;
  
}
.topBrand .image-container .image-mask h3{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topBrand .image-container:hover  .image-mask{
  transform: translateY(0);
  transition: 0.5s;
}

.contact{
  padding: 0px 0px 80px;
  background-color: #fff;
}

/* shop */
#experiment {
  -webkit-perspective: 800;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective: 800;
  -moz-perspective-origin: 50% 200px;
}

.cube1 {
  position: relative;
  margin: 45px auto 0;
  height:200px;
  width: 300px;
  -webkit-transition: -webkit-transform .5s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform .5s linear;
  -moz-transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 100%;
  width: 300px;
  padding: 0px;
  font-size: 27px;
  line-height: 1em;
  color: #fff;
}

.cube1 .front {
  -webkit-transform: translateZ(150px);
  -moz-transform: translateZ(150px);
  background-color:#fff;
}

.cube1 .side {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  -moz-transform: rotateY(-90deg) translateZ(150px);
  background-color:orange;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.cube1 .side span{
  font-size: 12px;
}
.cube1 .side a{
  text-decoration: none;
  color:#fff;
}
.cube1:hover{
  -webkit-transform:rotateY(90deg);     
}
.cube1 .front img{
  max-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* footer */
.footer{
  padding: 80px 0px 20px;
  background-color: #492e77;
}
.footer-bottom {
  border-top: 1px solid #8080804a;
  color: #fff;
}
.footer .social-media li {
 padding: 10px;
}
.footer .contact-address  a{
  color: #0fbd0f;
}
.footer .contact-address .address-right{
flex: 0.5;
align-items: flex-end;
justify-content: end;
}
.footer .contact-address .address-left{
flex: 0.5;
align-items: flex-end;
justify-content: end;
}

/* product detail */
.productDetail{
  padding: 80px 0px;
}
.productDetail .image-container{
  background-color: #e8e8e8;
  cursor: pointer;
}
.productDetail .image-container img{
  max-width: 100%;;
  max-height: 100%;
  object-fit: cover;
}
.productDetail .details{
padding: 0px 20px;
}
.productDetail .details .product-price{
  color: tomato ;
  font-size: 28px;
}
.productDetail .details .add-to-cart{
    border-radius: 0px;
   text-transform: uppercase;
   font-weight:700;
   font-size: 14px;
   padding: 10px 15px;
}
.productDetail .details .qty{
  display: inline-block !important;
  width: 50px;
  height: 45px !important;
  padding-left: 10px ;
  padding-right: 2px;
}
.plansandpackages{
  padding: 30px 0px;
}
.plan-card:hover{
  transition: 0.3s;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
.plan-card:hover .card-title{
  font-size: 24px  !important;
  transition: 0.2s;
}
.plan-card .card-title{
  font-weight: 600;
}
@media (max-width:1200px){
    .hide-for-mobile{
      display:none !important
  }
}
.modal{
  /* background-color: #000 !important; */
}
.modal-content{
  /* background-color: transparent !important; */
}
.contact-header{
  padding: 20px  0px;
}
.contact form{
  padding: 20px;
}
.contact input{
  height: 50px !important;
}
.contact-icon{
  width: 60px;
    height: 60px;
    background: #2fc72f;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right:15px
}
.contact .right ul{
  padding: 15px;
    /* border-left: 15px solid gray;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    box-shadow: 10px 0 5px -8px #888 */
}
.contact .right ul li{
  margin-bottom:10px;
  display: flex;
  align-items: center;

}
.get-in-touch{
  padding-left:20px;
  border-left: 5px solid purple;
  
}
.contact-info {
  padding: 10px;
}
.contact-info h4{
color:#2fc72f;
font-size: 20px;
}
.contact-social-media ul{
  justify-content: center;
}
.contact-social-media ul li:hover {
transform: translateY(-10px);
background-color: green;
transition: 0.5s;
}
.contact-social-media ul li{
  height: 50px;
  width: 50px;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:5px
}
.story-title{
  padding: 60px;
  background-repeat: no-repeat;
  background-image: url("https://nutrifitnepal.com/wp-content/uploads/2020/10/nutrifit_footer_1920.jpg");
  filter: brightness(0.8);
}

.story-title h3{
  color: #fff;
  font-size: 45px;
  filter: brightness(1);
}
.story-person{
  font-weight:600
}
.about-title{
  padding: 60px;
  background-repeat: no-repeat;
  background-image: url("https://nutrifitnepal.com/wp-content/uploads/2020/10/about_1920.jpg");
  filter: brightness(0.8);
}


.page-header{
  padding:70px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header h3{
font-size: 40px;
color: #fff;
font-weight: 600;
}

.dt{
  padding: 30px;
  position: relative !important;
  background-color: #150c25 !important;
  color :#fff;
}
.dt b::after{
  content: "";
  border-bottom: 2px solid green;
}
.ab{
  position: absolute;
  top: 31px;
  width: 40px;
  height: 40px;
  background-color: #18b118;
  left: -16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.ab:before{
  content: "";
  position: absolute;
  top: -15px;
  width: 26px;
  left: -11px;
  border-right: 15px solid #396f1d;
  border-top: 15px solid transparent;
}
/* .bc{
  width: 10px;
  height: 10px ;
  background-color: #18b118;
} */

.about .title h3{
  color: #2F707D ;
  font-weight: 600;
}
.about p{
line-height: 1.9rem;
}

.process{
  padding: 80px 0px 0px;
  background-color: #e8e8e8;
}

.testimonial{
  height:600px;
  background-color: #fff;

}
.testimonial .carousel-item{
  height: 500px;
}
.testimonial .carousel-caption{
  top:50px;
  font-size: 20px;

}
.testimonial img{
  max-width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.avatar{
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {
	
		transform: translatey(-10px);
	}
	100% {
	
		transform: translatey(0px);
	}
}
